.canvas {
	&__path {
		fill: none;
		stroke: rgba(var(--color-blue-800), 0.2);
		stroke-width: 1;
	}

	// Неактивный стиль
	&__group {
		cursor: pointer;
		fill: rgb(var(--color-blue-800));
	}

	&__text,
	&__label {
		font-family: "PT Sans";
		fill: rgb(var(--color-blue-800));
		user-select: none;
	}

	&__label {
		font-weight: 700;
		font-size: 20px;
		stroke: none;
	}
}
