.canvas {
	&__path {
		fill: none;
		stroke: rgba(var(--color-blue-900), 0.2);
		stroke-width: 1;
	}

	// Неактивный стиль
	&__dot {
		cursor: pointer;
		fill: rgb(var(--color-blue-900));
	}

	&__text {
		font-family: "PT Sans";
		fill: rgb(var(--color-blue-900));
		user-select: none;
		pointer-events: none;
	}

	&__label {
		font-weight: 700;
		font-size: 20px;
		stroke: none;
	}
}
