.content {
	--padding-x: 80px;
	--border: 1px solid rgba(66, 86, 122, 10%); // COLORS.

	position: relative;
	border: var(--border);
	height: 100%;

	&__title {
		position: absolute;
		top: 15vh;
		padding: 0 var(--padding-x);
		max-width: 350px;

		&::before {
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			content: "";
			display: block;
			height: calc(100% - 25px);
			width: 5px;
			background: linear-gradient(to bottom, #3877EE 0%, #EF5DA8 100%);
		}
	}

	&__controller {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	&__slider {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		right: 80px;
		bottom: 85px;
		width: calc(100% - var(--padding-x) * 2);
		z-index: 100;
	}
}

.controller {
	--top-offset: 44%;

	height: 100%;
	position: relative;

	&__line {
		position: absolute;
		background-color: rgba(66, 86, 122, 10%); // COLORS.

		&_horizontal {
			height: 1px;
			width: 100%;
			top: var(--top-offset);
		}

		&_vertical {
			height: 100%;
			width: 1px;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
		}
	}

	.range {
		display: flex;
		align-items: center;
		gap: 1ch;

		font-size: 200px;
		font-weight: 700;
		position: absolute;
		top: var(--top-offset);
		left: 50%;
		transform: translate(-50%, -50%);

		&__value {
			&_min {
				color: #5D5FEF;
			}

			&_max {
				color: #EF5DA8;
			}
		}
	}
}

.event {
	&__date {
		font-family: "Bebas Neue";
		color: #3877EE; // COLORS.
		font-size: 25px;
	}

	&__text {
		margin-top: 15px;
		color: #42567A; // COLORS.
		font-size: 20px;
	}
}