.canvas {
	&__path {
		fill: none;
		stroke: rgba(66, 86, 122, 0.2); // COLORS.
		stroke-width: 1;
	}

	&__control {
		position: relative;
		cursor: pointer;
		fill: #F4F5F9;
		stroke-width: 1;
		stroke: rgb(48, 62, 88, 0.5); // COLORS.
	}

	&__circle {

	}

	&__text {
		font-family: "PT Sans";
		fill: rgb(66, 86, 122); // COLORS.
	}

	&__label {
		font-family: "PT Sans";
		font-weight: 700;
		position: absolute;
		left: 100%;
		fill: rgb(66, 86, 122); // COLORS.
		font-size: 20px;
		stroke: none;
	}
}