.canvas {
	&__path {
		fill: none;
		stroke: rgba(66, 86, 122, 0.2); // COLORS.
		stroke-width: 1;
	}

	// Неактивный стиль
	&__group {
		cursor: pointer;
		fill: rgb(66, 86, 122);
	}

	&__text {
		font-family: "PT Sans";
		fill: rgb(66, 86, 122); // COLORS.
	}

	&__label {
		font-family: "PT Sans";
		font-weight: 700;
		fill: rgb(66, 86, 122); // COLORS.
		font-size: 20px;
		stroke: none;
	}
}
