.timelapse {
	--padding-x: clamp(20px, 6vw, 80px);
	--border: 1px solid rgba(var(--color-blue-800), 10%);

	position: relative;
	border: var(--border);
	height: 100%;
	overflow: hidden;

	&__title {
		position: absolute;
		top: 15vh;
		z-index: var(--z-timelapse-title);
		width: clamp(125px, 45vw, 350px);
	}

	&__controller {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	&__events {
		position: absolute;
		bottom: 8%;
		left: 50%;
		transform: translateX(-50%);
		width: calc(100% - var(--padding-x) * 2);
		z-index: var(--z-timelapse-events-slider);
	}
}

.controller {
	--top-offset: 44%;

	height: 100%;
	position: relative;

	&__line {
		position: absolute;
		background-color: rgba(var(--color-blue-800), 10%);

		&_horizontal {
			height: 1px;
			width: 100%;
			top: var(--top-offset);
		}

		&_vertical {
			height: 100%;
			width: 1px;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
		}
	}

	&__carousel {
		z-index: var(--z-timelapse-controller-carousel);
		position: absolute;
		top: calc(var(--top-offset) + 8px);
		left: 50%;
		transform: translate(-50%, -50%);
	}

	&__range {
		z-index: var(--z-timelapse-controller-range);
		display: flex;
		align-items: center;
		gap: 1ch;
		user-select: none;
		font-size: clamp(56px, 15vw, 200px);
		position: absolute;
		top: var(--top-offset);
		left: 50%;
		transform: translate(-50%, -50%);

		&-value {
			font-weight: 700;

			&_min {
				color: rgb(var(--color-blue-900));
			}

			&_max {
				color: rgb(var(--color-pink-1000));
			}
		}
	}

	&__controls {
		z-index: var(--z-timelapse-controller-controls);
		position: absolute;
		bottom: 22.5%;
		transform: translateY(-50%);
		left: var(--padding-x);
	}
}

// Mobile
@media screen and (max-width: 420px) {
	.timelapse {
		&__title {
			top: 10%;
		}

		&__label {
			position: absolute;
			left: 0;
			bottom: calc(100% + 15px);
			color: rgba(var(--color-blue-800));
			font-size: 20px;
		}

		&__events {
			bottom: clamp(15%, 40vh, 35%);
			transform: translate(-50%, 50%);
			border-top: 1px solid rgb(var(--color-white-800));
			padding-top: 20px;
		}
	}

	.controller {
		&__range {
			top: 31%;
		}

		&__controls {
			bottom: 20px;
			transform: none;
			display: grid;
			align-items: center;
			grid-template-columns: repeat(3, 1fr);
			width: calc(100% - var(--padding-x) * 2);
		}

		&__pagination {
			grid-column: span 1;
		}
	}
}
