@import "@/assets/styles/_mixins";

.slider {
	--control-position: calc(100% + 15px);

	width: 100%;
	position: relative;

	&__slide {
		width: 80%;
	}

	&__control {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		display: flex;
		align-items: center;
		justify-content: center;
		height: 40px;
		width: 40px;
		border-radius: 50%;
		padding: 15px;
		background-color: rgb(var(--color-white-1000));
		color: rgb(var(--color-blue-1000));
		box-shadow: 0 0 15px 0 rgba(var(--color-blue-1000), 0.25);

		&:disabled {
			display: none;
		}

		&_prev {
			right: var(--control-position);
		}

		&_next {
			left: var(--control-position);
		}
	}
}

@media screen and (max-width: 1280px) {
	.slider {
		--control-position: calc(100% + 5px);
	}
}

@media screen and (max-width: 920px) {
	.slider {
		&__control {
			display: none;
		}
	}
}
