body {
	--color-white-1000: 255, 255, 255; // #ffffff
	--color-white-900: 244, 245, 249; // #f4f5f9

	--color-blue-1000: 56, 119, 238; // #3877ee
	--color-blue-900: 93, 95, 239; // #5d5fef
	--color-blue-800: 66, 86, 122; // #42567a

	--color-pink-1000: 239, 93, 168; // #ef5da8
}
